body {
	background-color: lightsalmon;
}
p{color: darkolivegreen;
	font-family: Segoe Script;




}

h2{

	color: darkgoldenrod;
}
h1{

	color: navajowhite;
}

.c2{color: honeydew;}